<!-- WHOLE APP FRAME -->
<!DOCTYPE html>
<html>

<head>
  <% include ../views/templates/head %>
    <style media="screen">
      #old_messages_container {
        display: none;
      }
    </style>
        <script src="/client.js"></script>
        
</head>

<body>
  <section class="container">
    <span id="parse-flag" style="display: none"><%= parse %></span>
      
    <h1>Welcome to
      <%= title %>
        <a href="https://github.com/ageapps/SocketIOChatDemo" target="_blank">
          <img src="/images/github.png" alt="GitHub account" width="35px" />
        </a>
    </h1>
    <p>In host:
      <%= host %>
    </p>


    <div class="chat_container">
      <div class="panel panel-default panel-dark container">
        <div class="panel-body pannel-body-left col-sm-6 col-xs-12 ">
          <strong id="user_name"><%= session.user.name %></strong>
          <a href="/logout">logout</a>
        </div>
        <div class="panel-body pannel-body-right col-sm-6 col-xs-12 ">
          <small id="user_typing"></small> People connected
          <span class="badge" id="users_connected">
            <%= number_connected %>
          </span>
        </div>
      </div>
      <div id="messages_container">
        <div id="old_messages_container">
          <ul class="messages" id="old-messages">
              <li style="display: none"> 
                  <div class="direct-chat-text">
                      <div class="chat_heading">
                        <h5 class="chat_person"></h5>
                        <span class="chat_hour"></span>
                      </div>
                      <p class="chat_text"></p>
                    </div>
              </li>
          </ul>
          <div class="divider text-center">
            Last messages
          </div>
        </div>
        <ul class="messages" id="new-messages">
          <li class="message" style="display: none"> 
            <div class="direct-chat-text">
            <div class="chat_heading">
              <h5 class="chat_person"></h5>
              <span class="chat_hour"></span>
            </div>
            <p class="chat_text"></p>
          </div>
        </li>
        <li class="control" style="display: none">
          <div class="badge">
              <span class="chat_heading"></span>&nbsp;<span class="chat_text"></span>
              <span class="chat_hour"></span>
          </div>
            
        </li>
        </ul>
      </div>
    </div>

  </section>

  <form class="chat_container form-inline" id="chat_input" action="">
    <input id="m" autocomplete="off" placeholder="Write your mensaje..." />
    <button type="submit button" class="btn btn-primary btn-md">Send</button>
  </form>




  <% include ../views/templates/scripts %>

</body>

</html>